<div id="test">
  <form method="put">
    <table class="form">
      <tr>
        <th><label>Template:</label></th>
        <td><input type="text" id="Template"/></td>
      </tr>
      <tr>
        <th><label>Value:</label></th>
        <td><textarea id="Value" cols="100" rows="10" /></td>
      </tr>
    </table>
    <p><button type="button" id="exec">Exec</button></p>
  </form>
</div>
